@using Webshop.Models;
@model  Product

@{
    ViewBag.Title = Model.Name;
}

<h2>@Html.ValidationSummary()</h2>

<div class="product">

    <h2>@Model.Name</h2>


    <p>@Model.Price SEK</p>

    Energiklas: @Model.Energyclass
    <p>Tillverkare: @Model.Manufactor</p>
    <p>@Model.Description</p>
    <p>@Model.Units st i nätlagret</p>

    <br />

    @if (ViewBag.isAdmin)
    {
        <p>skriv admin info here</p>
    }

    @if (Session["Customer"] != null)
    {
        using (Html.BeginForm("AddToBasket", "Product"))
        {

            <input type="hidden" name="id" value="@Model.Id" />
            <p>Antal:</p><input name="quantity" type="number" min="1" max="99" />

            <br />
    <input type="submit" value="lägg till i kundvagn" />
        }
    }
</div>

<div>
    <h3>Tillbehör:</h3>
    @foreach (Product p in ViewBag.related)
    {
        <div class="product">
            <h4>@p.Name</h4>

            <p>@p.Price SEK ink. Moms</p>

            <a href="@Url.Action("Item", "Product", new { id = p.Id})">
                Läs mer...
            </a>
        </div>
    }
</div>
