@using Webshop.Models;
@model  Product

@{
    ViewBag.Title = Model.Name;
}

<h2>@Html.ValidationSummary()</h2>


@*public int Id { get; set; } // Primary Key
    public string Name { get; set; }
    public int Units { get; set; }
    public string Energyclass { get; set; }
    public string Model { get; set; }
    public int AcquisitionPrice { get; set; }
    public string Description { get; set; }
    public int Price { get; set; }
    public string Manufactor { get; set; }

    public int Series { get; set; } // Foreign Key --> Serie(Id)
    public Serie SeriesObj { get; set; }

    public int Category { get; set; } // Foreign Key --> Category(Id)
    public Category CategoryObj { get; set; }*@


<div class="product">
    @if (ViewBag.promotion != null)
    {
        <h2><font color="red">KAMPANJPRIS! @ViewBag.promotion.Value %</font></h2>
    }

    <h2 id="productname">@Model.Name</h2>

    <div id="bild">
        <p>BILD TILL SENARE RELEASE</p>
    </div>

    <div id="fakta">
        @if (ViewBag.promotion != null)
        {
            float newPrice = Model.Price* (ViewBag.promotion.Value/100f);
            <p><font color="red">@newPrice SEK </font> (ORD. Pris @Model.Price SEK)</p>
        }
        else
        {
            <p>@Model.Price kr</p>
        }
        <p>@Model.Units st i nätlagret</p>
        <p>Lägg till i varukorgen</p>
    </div>

    <div id="översikt">
        <p>ÖVERBLICK</p>
    </div>
    <div id="besk">
        <p id="mindrenamn">@Model.Name</p>
        <p>@Model.Description</p>
    </div>
    <div id="spec">
        <p>PRODUKTSPECIFIKATION</p>
        <p>Energiklas: @Model.Energyclass</p>
        <p>Tillverkare: @Model.Manufactor</p>
        <p>Vårt Artikelnr: @Model.Id</p>
    </div>



    <br />

    @if (ViewBag.isAdmin)
    {
        <h3>Admin Info:</h3>
        <p>Inköps Pris: @Model.AcquisitionPrice</p>
    }

    @if (Session["Customer"] != null)
    {
        using (Html.BeginForm("AddToBasket", "Product"))
        {

            <input type="hidden" name="id" value="@Model.Id" />
            <p>Antal:</p><input name="quantity" type="number" min="1" max="99" />

            <br />
            <input type="submit" value="lägg till i kundvagn" />
        }
    }
</div>

@if (((List<Product>)ViewBag.related).Count() >= 1)
{
    <div>
        <h3>Tillbehör:</h3>
        @foreach (Product p in ViewBag.related)
        {
            <div class="product">
                <h4>@p.Name</h4>

                <p>@p.Price SEK ink. Moms</p>

                <a href="@Url.Action("Item", "Product", new { id = p.Id})">
                    Läs mer...
                </a>
            </div>
        }
    </div>
}
