@using Webshop.Models;
@model  IEnumerable<Product>

@{
    ViewBag.Title = "Listar alla produkter";
}

<h2>Hej</h2>

<div>
    @foreach (Product p in Model)
    {
        <a>
            <div class="product">
                <p>@p.Name</p>
                <p>Kategori: @p.Category</p>
                <p>Märke: @p.Brand</p>
                <p>Tillverkare: @p.Manufactor</p>
                <p>@p.Description</p>

                <p>@p.Price SEK ink. Moms</p>
                <p>@p.Units Varusaldo i nätlagret</p>
            </div>
        </a>
       
    }
</div>